nav { 
    background-color: #2C2B30;
    border: 1px solid #4F4F51;
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    z-index: 999;
    position: sticky;
}

.navbar-brand {
    padding: 2 2% 2 2%;
    background-color: #4F4F51;
}

.navbar-toggler {
    border: none;
}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.nav-item {
    padding-left: 5px;
    padding-right: 5px;
    border-left: solid 2px rgba(0, 0, 0, 0.3);
}

#brandName {
    color: #F2C4CE;
    font-size: 2rem;
    margin-bottom: 0px;
}

#Menu {
    position: fixed; 
    top: 0; 
    right: -250px; 
    width: 250px; 
    height: 100%; 
    background-color: #4F4F51; 
    color: #F2C4CE; 
    padding: 20px; 
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3); 
    z-index: 1000; 
}

#Menu a {
    display: block; 
    color: #F2C4CE;
}

#Menu button {
    display: block; 
    background: none; 
    color: white; 
    border: none; 
    font-size: 20px; 
    cursor: pointer; 
    margin-bottom: 20px; 
}

.Important
{
    color:red !important;
}
