

.container-fluid, .container, .container-xl, .container-lg, .container-xxl{ 
    border-style: solid;
    border-color: rgb(0,118,213);
    border-radius: 15px;
    margin: 5px;
    margin-top: 10px;
    padding: 5px;
    background-color:rgb(11,35,65);
}

.main-container{ 
    padding: 5px;
    background-color:rgb(0,118,213);
}

h1, label{ 
    color: rgb(120,198,224);
    text-align: left;
}