body {
    background-color:rgb(0,118,213); 
}

.button
{ 
    font-size: 20px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    color: rgb(120,198,224);
    background-color:rgb(11,35,65) ;
    text-align: center;
    height: 100px;
    width: 500px;
    margin: 10px;
}

#statusText {
    font-size: 72px;
    margin-top: 60px;   
    margin-bottom: 50px;
    color: darkred;
}

#btSupprimerFiche {
    background-color:rgb(128, 0, 0) ;
}
