body {
    background-color: rgb(0,118,213);;
}

.container-fluid, .container, .container-xl, .container-lg, .container-xxl{ 
    color: rgb(120,198,224);
    border-style: solid;
    border-color: rgb(0,118,213);
    border-radius: 15px;
    margin-top: 10px;
    padding: 5px;
    background-color:rgb(11,35,65);
    align-items: center;
}

.container-xxl {
    padding: 25px;
}

.container-xl {
    padding: 15px;
}

.button
{
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: rgb(0,118,213);
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.form-control {
    margin-top: 5px;
    margin-bottom: 5px;
}

label {
    margin: 5px;
}