body {
    background-color: #F2F2F2; 
}

form {
    padding: 20px;
}

[role="navigation"] {
    display: flex; 
    justify-content: center;
    margin: 20px 0;
}

.flex { 
    align-items: left;
}

.container-fluid, .container, .container-xl, .container-lg, .container-xxl { 
    border-color: #D6D6D6;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
    background-color: #FFFFFF; 
    align-items: center;
}

.form-control, .form-select {
    margin-top: 10px;
    margin-bottom: 10px;
}

#containerWithBorder { 
    border-style: solid;
    border-color: #D6D6D6;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    background-color: #FFFFFF; 
    align-items: center;
}

.main-container { 
    padding: 5px;
    background-color: #F2F2F2;
}

h1, h2, h3, h4, h5, h6, label, li { 
    color: #2C2B30;
    text-align: left;
}

p { 
    color: #4F4F51; 
    text-align: left;
}

h3 { 
    color: #2C2B30;
    text-align: left;
}

#bt-center {
    display: flex;
    justify-content: center;
}

.symbol {
    font-weight: bold;
    color: #2C2B30;
    margin-right: 5px;
}

.button { 
    border-style: solid;
    border-radius: 10px;
    color: #2C2B30; 
    background-color: #D6D6D6; 
    text-align: center;
    padding: 10px;
    margin: 10px;
    min-height: 50px;
}

#btAddTelephone, #btAddContact, #searchButtonRBQ, #searchButtonCode {
    color: #FFFFFF;
    background-color: #F2C4CE;
}

#buttonLeft {
    bottom: 10px;
    left: 10px;
    position: fixed;
}

#buttonRight {
    bottom: 10px;
    right: 10px;
    position: fixed;
}

#notFunctioningButton {
    background-color: #F2C4CE; 
    color: #2C2B30; 
}

#whatForm {
    display: flex;
    justify-content: center;
}

#centerDiv {
    display: flex;
    justify-content: center;
}

#absoluteButton {
    position: absolute;
}

#hoverable:hover {
    background-color: #D6D6D6; 
    font-size: 18px;
    color: #FFFFFF; 
    border-color: #D6D6D6; 
    border-radius: 10px;
    padding: 10px;
}

.selected-item {
    font-weight: bold;
}

#fileList {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

#p_bleu { 
    color: #2C2B30; 
    text-align: left;
}

#liNoir { 
    color: #2C2B30; 
    text-align: left;
}