body {
    background-color:rgb(0,118,213); 
}

form{
    padding: 20px;
}


[role="navigation"] {
    display: flex; 
    justify-content: center; /* Center the pagination */
    margin: 20px 0; /* Adjust margin */
}

.flex{ 
    align-items: left;
}


.container-fluid, .container, .container-xl, .container-lg, .container-xxl{ 
    border-color: rgb(0,118,213);
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
    background-color:rgb(11,35,65);
    align-items: center;
}

.form-control, .form-select {
    margin-top: 10px;
    margin-bottom: 10px;
}

#containerWithBorder{ 
    border-style: solid;
    border-color: rgb(0,118,213);
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    background-color:rgb(11,35,65);
    align-items: center;
}


.main-container{ 
    padding: 5px;
    background-color:rgb(0,118,213);
}

h1, h2, h3, h4, h5, h6, label, li{ 
    color: rgb(120,198,224);
    text-align: left;
}

p{ 
    color: rgb(255,255,255);
    text-align: left;
}


h3{ 
    color: white;
    text-align: left;
}

#bt-center{
    display: flex;
    justify-content: center;
}

.button
{ 
    border-style: solid;
    border-radius: 10px;
    color: rgb(120,198,224);
    background-color:rgb(11,35,65) ;
    text-align: center;
    padding: 10px;
    margin: 10px;
    min-height: 50px;
}

#btAddTelephone, #btAddContact, #searchButtonRBQ, #searchButtonCode
{
    color: rgb(0,0,0);
    background-color:rgb(120,198,224) ;
}

#buttonLeft
{
    bottom: 10px;
    left:10px;
    position: fixed;
}

#buttonRight
{
    bottom: 10px;
    right:10px;
    position: fixed;
}

#notFunctioningButton
{
    background-color:rgb(120,198,224) ;
    color: rgb(11,35,65);
}

#whatForm
{
    display: flex;
    justify-content: center;
}

#centerDiv
{
    display: flex;
    justify-content: center;
    
}

#absoluteButton
{
    position: absolute;
    
}

li:hover{
    background-color: black;
    font-size: 18px;
    color: white;
    border-color: rgb(0,118,213);
    border-radius: 10px;
    padding: 10px;
}

.selected-item{
    font-weight: bold;
}